* {
	padding: 0;
	margin: 0;
	overflow-y: hidden;
}

:root {
	/* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	
	font-weight: 400;

	color: #222; */
	/* background-color: #faf9fa; */
	/* font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%; */
}

body {
	background-color: #faf9fa;
	
}



.container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: fit-content;
	margin:0 auto
}

.image {
	margin: 0 auto;

}